venv
.venv
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

*.log
*.pot
*.pyc
*.swp
*.bak
*.tmp

.DS_Store
.idea
.vscode
*.code-workspace

.git
.gitignore

.dockerignore

media/
staticfiles/
static/
build/
dist/

Thumbs.db
