venv/
.venv/
.venv
.env
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3

*.log
*.pot
*.py[cod]
*$py.class

*/migrations/__pycache__/
*/migrations/*.pyc

local_settings.py
.env.local

/staticfiles/
media/

.vscode/
.idea/
.DS_Store